[Unit]
Description=Pedco Telegram Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=Rolando
Group=Rolando
WorkingDirectory=/home/Rolando/projects/scraper-pedco
EnvironmentFile=/home/Rolando/projects/scraper-pedco/.env
ExecStart=/home/Rolando/projects/scraper-pedco/pedco-bot
Restart=on-failure
RestartSec=10s

# Hardening (suave: corre como tu usuario en /home, sin ProtectSystem=strict)
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
